:root{
    --main-color: #7D9BDB;
    --second-main: #A7B5D2;
    --second-main2: #a7b5d23f;
}
@font-face {
    font-family: MainFont;
    src: url(../data/JimNightshade-Regular.ttf);
}
@font-face {
    font-family: Font2;
    src: url(../data/Agdasima-Regular.ttf);
}
h1{
    font-size: 10vw;
    text-align: center;
    color: rgb(255, 255, 255);
    color: var(--second-main);
}
body {
    margin: 0vw;
    font-family: Font2;
    padding-top: 60px;
    background-color: black;
    color: white;
}
h1,h2,h3{
    font-family: MainFont;
}
#head1{
    width: 100vw;
    position: absolute;
    top: 0vw;
    z-index: -10;
};
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 60px;
    background-color: black;
    color: white;
    font-family: MainFont;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 10000;
    left: 0;
    width: 100%;
    background-color: #7266665d;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    box-shadow: 0 6px 6px rgba(68, 51, 51, 0.347);
}
.navbar a {
    text-decoration: none;
    color: var(--second-main);
    font-size: 180%;
    padding: 14px 20px;
    transition: background-color 0.3s;
    border-radius: 5px;
}
.navbar a:hover {
    background-color: #5b5b5bb2;

}
#head1{
    width: 100vw;
    position: absolute;
    top: 0vw;
    z-index: -10;
    opacity: 0.5;
}
#head2{
    width: 60vw;
    margin-top: 5vw;
    margin-left: 20vw;
    opacity: 0.7;
}
#threeText{
    width: 42.5vw;
    display: flex;
    justify-content: space-between;
    margin: 2% auto;
    position: relative;
    top: 31vw;
    font-size: 250%;
    color: var(--main-color);
    z-index: 10;

}
h2{
    background-color: #3d4a5800;
    border-radius: 15px;
    transition: background-color 0.3s;
    padding: 0.5vw;
    margin: 1vw;
}
h2:hover{
    background-color: #63636382;
}
#bottom{
    position: relative;
    bottom: 9vw;
}
#modeSelect{
    position: absolute;
    z-index: 100;
    top: 18vw;
    left: 30vw;
    width: 40vw;
    display: flex;
    flex-direction: column;

}
.box1{
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
    background-color: white;
    border: solid black 4px;
    background-image: url(../img/mode1.jpg);
    background-size: cover  ;
    background-position: center;
}
#box2{
    background-image: url(../img/mode2.webp);
    background-size: cover  ;
    background-position: center;
    opacity: 0.4;
}
#ImgBox{
    display: flex;
    justify-content: space-evenly;
}
#textBox{
    display: flex;
    justify-content: space-evenly;
}
#tbox1,#tbox2{
    font-size: 230%;
    margin-top: 4vw;
    width: 12vw;
    text-align: center;
}

.gallery-container {
    width: 100vw;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.gallery-container::-webkit-scrollbar {
    display: none;
}
.gallery {
    display: flex;
    gap: 10px;
    padding: 20px;
}
.gallery img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    scroll-snap-align: center;
}
.gallery-container {
    width: 90vw;
    margin-left: 5vw;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
#about{
    width: 50vw;
    text-align: center;
    font-size: 2vw;
    margin-left: 25vw;
    margin-top: -5vw;
}
p{
    font-size: 2vw;
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-around;
    font-size: 200%;
    margin: 3vw;
}
#logo{
    width: 18vw;
    height: 10vw;
}
input{
    width: 80%;
}
#pic1{
    width: 70vw;
    margin: 3vw;
    margin-left: 15vw;
    border-radius: 20px;
}
.slogen{
    font-size: 5vw;
    text-align: center;
}
.slogen:hover{
    background-color: rgba(0, 0, 0, 0);
}
#head11{
    position: absolute;
    top: -5vw;
    width: 100vw;
    z-index: -100;
    opacity: 0.5;
}
#head22{
    position: absolute;
    top: -5vw;
    width: 100vw;
    z-index: -100;
    opacity: 0.5;
}
#searchBar{
    width: 80vw;
    height: 2.5vw;
    margin: 5vw;
    background-color: var(--second-main);
    margin-left: 10vw;
}
#tradeOption input{
    width: 10vw;
    height: 2vw;
}
#tradeOption{
    font-size: 200%;
    color: var(--main-color);
    width: 60vw;
    margin-left: 3vw;
    margin-top: 5vw;
}
#option{
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
}
label{
    margin: 1vw;
}
input{
    background-color: var(--second-main);
}
#temp{
    font-size: 3vw;
    position: absolute;
    top: 60vw;
    right: 5vw;
    width: 40vw;
    border: white 5px solid;
}
#shipIn{
    width: 30vw;
    font-size: 4vw;
    margin-left: 32vw;
    display: flex;
    justify-content: space-evenly;
}
#parts{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 200%;
    margin-left: 5vw;
}
#parts h2:hover{
    background-color: #7d9bdb00;
}
#parts div{
    width: 40vw;
    border: var(--second-main) 3px solid;
    border-radius:20px;
    margin: 2vw;
}
#backImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.5;
    z-index: -10;
}
#navIcon{
    width: 4vw;
    height: 4vw;
    border: 2px solid black;
}
#ergebnisse h2{
    font-size: 5vw;
    text-align: center;
}
#ergebnisse div{
    width: 60vw;
    margin-left: 20vw;
    background-color: rgba(128, 128, 128, 0.448);
    border: grey solid 3px;
    border-radius: 7px;
    box-sizing: border-box;
}
.ergA,.ergC,.ergW,.ergS{
    font-size: 2vw;
    background-color: var(--second-main2);
    margin: 1vw;
    padding: 0.5vw;
    border-radius: 10px;
    transition: 2s;
    transition: font-size 0.1s;
}
.ergA:hover,.ergC:hover,.ergW:hover,.ergS:hover{
    font-size: 3vw;
}
#ergebnisse h2:hover{
    background-color: #7d9bdb00;
}
#itemInfo{
    position: fixed;
    width: 80vw;
    height: 78vh;
    top: 11vh;
    left: 10vw;
    background-color: black;
}
#vid{
    position: fixed;
    width: 80vw;
    height: 80vh;
    top:  11vh;
    left: 10vw;
    z-index: 100;
}
#itemInfo{
    z-index: -1000;
    border: 1px solid black;
    opacity: 0;
    border-radius: 10px;
}
#close{
    position: fixed;
    width: 5vw;
    height: 5vw;
    z-index: 1000000000;
    margin-top: 1vh;
    margin-left: 1vw;

}
#inf{
    position: fixed;
    top: 12vw;
    z-index: 1000;
    text-align: center;
    width: 50vw;
    margin-left: 15vw;
}
#inf p{
    font-size: 2.7vw;
}
.ship-select {
    width: 70vw;
    height: 40vh;
    margin-bottom: 10px;
    overflow: scroll;
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #000000;
    margin: auto;
    background-image: url(../img/shipSelection.webp);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 150%;
}
.content {
    height: 200px;
}
.inner-box::-webkit-scrollbar {
    display: none;
}
#shipHead{
    text-align: top;
    transition: none;
    font-size: 5vw;
}
#shipHead:hover{
    background-color: #00000000;
    
}
.shipInList{
    padding: 0.5vw;
    transition: 0.6s background-color;
    border-radius: 5px;
}
.shipInList:hover{
    background-color: rgba(255, 255, 255, 0.375);
    cursor: pointer;
}
#searchShip{
    width: 30vw;
    height: 2vw;
    margin: 3vw;
    margin-left: 35vw;
}
#partes{
    opacity: 1;
    z-index: 100;
    font-size: 300%;
}
.power,.cooler,.shild,#quantum,.waffen1,.waffen2,.waffen3,.waffen4,.waffen5{
    overflow: auto;
    height: 30vh;
}
.pa{
    z-index: 1000;
    transition: background-color 0.5s ;
    border-radius: 5px;
}
.pa:hover{
    background-color: var(--second-main2);
    cursor: pointer;
}
#partes{
text-align: center;
}
#partes h2, #partes h3{
    color: var(--main-color);
}
.p,.c,.w,.s,.q{
    border: var(--second-main) 3px solid;
    border-radius: 5px;
    margin-bottom: 5vw;
    margin-top: 5vw;
}
.power,.cooler,.waffen1,.waffen2,.waffen3,.waffen4,.waffen5,.waffen6,#quantum,.shild{
    margin: 3vw;
    padding: 5vw;
    font-weight: lighter;
}
.power{
    background-image: url(../img/Power_plant.webp);
    background-size: cover;
    background-position: center;
}
.cooler{
    background-image: url(../img/Coolers.webp);
    background-size: cover;
    background-position: center;
}
#quantum{
    background-image: url(../img/quantum.webp);
    background-size: cover;
    background-position: center;
}
.shild{
    background-image: url(../img/schildGen.webp);
    background-size: cover;
    background-position: center;
}
.waffen1,.waffen2,.waffen3,.waffen4,.waffen5,.waffen6{
    background-image: url(../img/waffenImg.png);
    background-size: cover;
    background-position: center;
}
#showConf{
    width: 20vw;
    height: 5vw;
    border: var(--main-color) 3px solid;
    border-radius: 20px;
    background-color: black;
    margin-left: 40vw;
    margin-top: 5vw;
    transition: background-color 0.5s;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 5vw;
}
#showConf:hover{
    background-color: var(--second-main2);
    cursor: pointer;
}
#configuration{
    z-index: -100;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0vw;
    left: 0vw;
    background-image: url(../img/confBack.png);
    background-size: cover;
}
#werte{
    text-align: center;
    font-size: 1.7vw;
}
#confName{
    margin: 1vw;
    margin-bottom: 1vw;
    font-size: 6vw;
}
#werte h2:hover{
    background-color: #00000000;
}
canvas {
    max-width: 800px;
    width: 50vw;
    color: white;
    margin-left: 10vw;
  }
#flexw{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cconf{
    position: absolute;
    top: 2vw;
    right: 2vw;
    width: 7vw;
    height: 7vw;
}
#opt{
    text-align: center;
    font-size: 200%;
}
#optCheck{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 150%;
}
#optCheck input{
transform: scale(3);
margin: 4vw;
}
#opt > input{
    width: 70vw;
    height: 5vh;
    font-size: 200%;
}
#opt > h2:hover{
    background-color: #00000000;
}
.inSearch{
    width: 60vw;
    height: 30vw;
    overflow: scroll;
    background-image: url(../img/inSeachBack.jpg);
    background-size: cover;
    margin: 4vw;
    margin-left: 20vw;
    border: var(--second-main) 5px solid;
    border-radius: 10px;
}
.oShip{
    display: flex;
    justify-content: space-around;
    color: black;
}
.oWare{
    display: flex;
    justify-content: space-around;
    color: black;
}
.h2Ship{
    background-color: #00000000;
    padding: 2vw;
    transition: background-color 0.5s;
}
.h2Ship:hover{
    background-color: rgba(255, 255, 255, 0.483);
}
#bTrade{

    text-align: center;
    width: 30vw;
    margin-left: 35vw;
    height: 7vh;
    font-size: 250%;
    background-color: var(--second-main2);
    border: var(--main-color) solid 3px;
    border-radius: 5px;
    transition: background-color 0.5s;
    margin-top: 5vw;
}
#bTrade:hover{
    background-color: var(--second-main);
}
#tradeScreen{
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    opacity: 0;
    color: white;
    background-size: cover;
    background-image: url(../img/tradeBack.webp);
}
#route{
    display: flex;
    justify-content: space-around;

}
#route h1{
    font-size: 5vw;
}
#sName{
    width: 70vw;
    margin-left: 10vw;
    border: var(--second-main) solid 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 7vw;
    margin-top: 3vw;
    background-color: rgba(128, 128, 128, 0.459);
    padding: 4vw;
}
#run{
    width: 70vw;
    margin-left: 10vw;
    border: var(--second-main) solid 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 5vw;
    margin-top: 3vw;
    background-color: rgba(128, 128, 128, 0.485);
    padding: 4vw;
}
@media screen and (max-width:900px) {
    .navbar{
        width: 100vw;
    }

    p{
        font-size: 250%;
        margin: 2vw;
    }
    #about{
        font-size: 80%;
        width: 70vw;
        margin-left: 15vw;
    }
    #threeText{
        font-size: 100%;
        margin-left: 30vw;
        margin-top: 10vw;
    }
    #logo{
        display: none;
    }
    #ic{
        display: none;
    }
    #fu{
        display: none;
    }
    footer{
        text-align: center;
        margin-left: 15vw;
    }
    #textBox{
        display: none;
    }
    #ImgBox{
        margin-top: 27vw;
        transform: scale(1.5);
    }
    #head2{
        transform: scale(1.1);
    }
    .navbar{
        font-size: 50%;
    }
    #navIcon{
        display: none;
    }

}